* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #d3c5a6;
  color: white;
  font-size: 16px;

  display: flex;
  flex-flow: column;
  gap: 3rem;
  padding: 3rem;

  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;

    img {
      /* width: 300px; */
    }

    p {
      font-size: 10rem;
    }
  }

  main {
    display: flex;
    flex-flow: column;
    align-items: center;

    section {
      display: flex;
      flex-flow: column;
      width: 100%;
      gap: 3rem;

      img {
        align-self: center;
      }
    }
  }
}
