* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #d3c5a6;
  color: white;
  font-size: 16px;
  font-family: Linotype Didot Std Roman, serif;
  line-height: 1.3;

  display: flex;
  flex-flow: column;
  gap: 3rem;
  padding: 3rem;

  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 3rem);
    color: #b59e7e;

    p {
      font-size: 12vw;
    }
  }

  main {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3rem;
    color: #594f4f;

    .menu {
      box-shadow: 0 0 3rem rgb(0 0 0 / 20%);
    }

    section {
      display: flex;
      flex-flow: column;
      width: 100%;
      gap: 3rem;

      img {
        align-self: center;
      }
    }

    h2 {
      font-family: Linotype Didot Pro, serif;
      font-size: 5rem;
      font-weight: 700;
      padding: 0.25em 0;
    }

    h3 {
      font-family: Linotype Didot Pro, serif;
      font-size: 4rem;
      font-weight: 700;
      padding: 0.25em 0;
    }

    h4 {
      font-family: Linotype Didot Pro, serif;
      font-size: 3rem;
      font-weight: 700;
      padding: 0.25em 0;
    }

    .guest {
      max-width: 75rem;
      font-size: 2em;
      gap: 1rem;

      label {
        font-size: 1.25em;
        cursor: pointer;
        input[type=radio] {
          display: none;
        }
      }

      label:has(input[type="radio"]:checked) {
        color: #bf6211;
      }
    }

    .choices {
      display: grid;
      gap: 2rem 1rem;
      grid-template-columns: 8em 1fr;
    }

    .options {
      display: grid;
      flex-flow: column;
    }
  }
}
